body {
    background: {
        color: $col-bg;
    }
    color: $col-white;
    padding: 40px;
}

.icosohedron {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-me {
    width: 160px;
    height: 160px;
    position: fixed;
    top: 40px;
    right: 40px;
    mix-blend-mode: difference;

    & > img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
}