.grid {
    align-items: stretch;
    display: flex;
    position: fixed;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 40px;
    justify-content: space-between;

    & > li {
        background-color: $col-grid-color;
        width: 1px;
    }
}