/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes flicker {
  0% {
    opacity: 1; }
  100% {
    opacity: .85; } }

.scanlines {
  position: relative;
  overflow: hidden; }
  .scanlines:before, .scanlines:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute; }
  .scanlines:before {
    width: 100%;
    height: 1.5px;
    z-index: 9;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.75;
    animation: scanline 6s linear infinite; }
  .scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.2) 51%);
    background-size: 100% 3px;
    animation: scanlines 1s steps(60) infinite; }

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0); } }

@keyframes scanlines {
  0% {
    background-position: 0 50%; } }

h1 {
  font-family: rigid-square, sans-serif; }

body {
  background-color: #140916;
  color: #FFF; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 120px;
  position: relative; }
  .container--contains-grid {
    min-height: 100vh; }

.icosohedron {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.deck {
  align-items: stretch;
  backface-visibility: false;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 16.66667%;
  position: relative; }
  .deck:after {
    background-image: url("/public/images/decoration/wing-left-in.svg");
    content: '';
    width: 272px;
    height: 270px;
    position: absolute;
    right: calc(100% + 24px);
    top: 0;
    transform: translateY(-50%); }
  .deck__heading {
    animation-name: flicker;
    animation-duration: .05s;
    animation-iteration-count: infinite;
    font-size: 120px;
    color: white;
    position: relative; }

@keyframes example-one-anim-1 {
  0% {
    clip: rect(85px, 750px, 75px, 0); }
  10% {
    clip: rect(19px, 750px, 37px, 0); }
  20% {
    clip: rect(52px, 750px, 41px, 0); }
  30% {
    clip: rect(39px, 750px, 104px, 0); }
  40% {
    clip: rect(75px, 750px, 58px, 0); }
  50% {
    clip: rect(23px, 750px, 97px, 0); }
  60% {
    clip: rect(58px, 750px, 62px, 0); }
  70% {
    clip: rect(4px, 750px, 68px, 0); }
  80% {
    clip: rect(55px, 750px, 98px, 0); }
  90% {
    clip: rect(66px, 750px, 109px, 0); }
  100% {
    clip: rect(38px, 750px, 52px, 0); } }

@keyframes example-one-anim-2 {
  0% {
    clip: rect(26px, 750px, 38px, 0); }
  10% {
    clip: rect(3px, 750px, 7px, 0); }
  20% {
    clip: rect(68px, 750px, 84px, 0); }
  30% {
    clip: rect(48px, 750px, 110px, 0); }
  40% {
    clip: rect(2px, 750px, 43px, 0); }
  50% {
    clip: rect(13px, 750px, 75px, 0); }
  60% {
    clip: rect(75px, 750px, 25px, 0); }
  70% {
    clip: rect(62px, 750px, 31px, 0); }
  80% {
    clip: rect(14px, 750px, 78px, 0); }
  90% {
    clip: rect(65px, 750px, 83px, 0); }
  100% {
    clip: rect(98px, 750px, 44px, 0); } }
    .deck__heading:before, .deck__heading:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #140916;
      clip: rect(0, 0, 0, 0); }
    .deck__heading:after {
      left: 2px;
      text-shadow: -1px 0 red;
      animation: example-one-anim-1 2s infinite linear alternate-reverse; }
    .deck__heading:before {
      left: -2px;
      text-shadow: 2px 0 blue;
      animation: example-one-anim-2 3s infinite linear alternate-reverse; }
  .deck__subheading-bar {
    animation-name: flicker;
    animation-duration: .05s;
    animation-iteration-count: infinite;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
    margin-bottom: 32px; }
  .deck__subheading {
    color: #000;
    font-family: eurostile-extended, sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
    .deck__subheading:first-child {
      margin-left: 16px; }
    .deck__subheading:last-child {
      font-weight: 900;
      margin-right: 16px; }
  .deck__intro {
    font-family: ibm-plex-mono, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 40px; }

.skills {
  margin-bottom: 24px; }
  .skills > li {
    color: #FFF;
    font-family: eurostile-extended, sans-serif;
    font-size: 20px;
    text-transform: uppercase; }

.grid {
  align-items: stretch;
  display: flex;
  display: none;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  width: 100%; }
  .grid > li {
    background-color: rgba(255, 255, 255, 0.15);
    width: 1px; }

.screen-coords {
  opacity: .8;
  font-size: 12px;
  font-family: ibm-plex-mono, sans-serif;
  position: absolute;
  bottom: 180px;
  right: 0;
  text-align: right; }

.controls > .button {
  margin-right: 1px; }
  .controls > .button:last-child {
    margin-right: 0; }

.button {
  background-color: #40C057;
  border: 0 none;
  display: inline-block;
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 900;
  padding: 16px 32px;
  color: #35153C;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1000; }


/*# sourceMappingURL=bundle.css.map*/